{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container">
 <h1>Site e-commerce</h1>
<p>Bienvenue dans notre Boutique</p>
</div>
{% endblock %}
